
<%= form_for([@location, @travel]) do |f| %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <% if @location %>
    <%= f.hidden_field :location_id, value: @location.id %>
  <% else %>
    <h4>Create a Location:</h4>
    <%= f.fields_for :location do |l| %>
      <%= l.label :city %>
      <%= l.text_field :city %>

      <%= l.label :country %>
      <%= l.text_field :country %>
    <% end %>
  <% end %>  
       

  <%= f.submit %>
<% end %> 


<!--
 <%= form_with(model: [@location, @travel], local: true) do |f| %>

   <p>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :address %>
    <%= f.text_field :address %>
   </p>
   <p>
    <%= f.submit %>
   </p>
   <% end %>
   -->
