<h1>Edit Travel</h1>

<%= render partial: 'form', locals: {travel: @travel} %>

<!--
<p id="notice"><%= notice %></p>

<p>
Editing <%= @travel.name %>
        <%= @travel.address %>   
</p>

<%= render 'travels/form', travel: @travel %>
-->