<h1>All Travels#index</h1>
<br>

<h1 style="text-align: left; color: green;">
  <% if @location %>
     <%= @location.city %>
      <%= @location.country %>'s Travel to Visit</h2>
  <% else %>
    <h1>All Travels</h1>
  <% end %>
</h1>  
<!--
 <%= render partial: "travel", collection: @travels, as: :t %> 
<br>
<br>
<% if @location %>
    <%= link_to " Add New Location Travel", new_location_travel_path %>
<% else %>
    <%= link_to "New Travel", new_travel_path %>
<% end %>
-->

 <%= render partial: "travel", collection: @travels, as: :t %> 

<% if @location %>
  <%= link_to "New Location Travel", new_location_travel_path %>
<% else %>
  <%= link_to "New Travel", new_travel_path %>
<% end %>  
