<h1>New Travel Place</h1>

<%= form_with model: @travel do |form| %>
  <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
     <% @travel.errors.full_messages_for(:city).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.label :country %><br>
    <%= form.text_field :country %>
     <% @travel.errors.full_messages_for(:country).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>