<br>
<h1>All Locations</h1>
<br>

<!-- <%= render partial: "location", collection: @locations %> -->

<hr/> 
 
  <% @locations.each do |location| %>
  
    <p> <%= location.city %> - <%= location.country %></p>
        <%= link_to 'Show', location_path(location) %>
        <% location.travels.each do |travel| %>  
          <li><%= travel.name %> - <%= travel.address %></li>
        <% end %>
  <hr/> 
  <% end %>

  <h1>Latest Travels</h1>

<% @travels.each do |travel| %>  
    <li><%= travel.name %> - <%= travel.address %></li>
<% end %>

<%= link_to "New location", new_location_path %>


