<br>
<h1>Locations#index</h1>
<br>

<!-- <%= render partial: "location", collection: @locations %> -->

<div>
 
  <% @locations.each do |loc| %>
    <p> <%= loc.city %> - <%= loc.country %></p>
   
    <% loc.travels.each do |travel| %>  
      <li><%= travel.name %> - <%= travel.address %></li>
    <% end %>
    ----------------------------------------
  <% end %>
  
</div>

<%= link_to "New location", new_location_path %>


