<h1>Location Show Page</h1><br>

<% if @location %> 
<!--
    <%= render partial: "location", locals: {location: @location} %>
    <li><%= link_to 'See all locations travels', location_travels_path(@location) %> |
-->
<%= render partial: "location", locals: {location: @location} %>
<%= link_to 'See all locations travels', location_travels_path(@location) %><br><br>
<%= link_to 'Add a new locations travel', new_location_travel_path(@location) %>

  
<% else %>
  <h2>404</h2><h3>Not Found</h3>
<% end %>


